APP_NAME="Clinic Queue Management Platform"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://api.ferozamedicinecorner.com
APP_KEY=base64:vZxPhY0yJQa4UDdFlM8V9faMBJpzd9SuZHj/28shrkg=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=httpferozamedici_serial
DB_USERNAME=httpferozamedici_serial
DB_PASSWORD=0c4l0Wshd?YjDInd

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.ferozamedicinecorner.com
SESSION_SECURE_COOKIE=true

BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

SANCTUM_STATEFUL_DOMAINS=serial.ferozamedicinecorner.com
CORS_ALLOWED_ORIGINS=https://serial.ferozamedicinecorner.com

# Reverb WebSockets Configuration
REVERB_APP_ID=849201
REVERB_APP_KEY=69d5942ae39e7ea6d848ea79722cb695
REVERB_APP_SECRET=4fb2f96a2a5d88d7f01a9609828dc262
REVERB_HOST=127.0.0.1
REVERB_PORT=8080
REVERB_SCHEME=http

# Client-Facing Reverb Production Endpoint (proxied over SSL 443)
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="api.ferozamedicinecorner.com"
VITE_REVERB_PORT=443
VITE_REVERB_SCHEME="https"


